<h1>Please sign in</h1>

<% if flash[:errors] && !flash[:errors].empty? %>
  <% flash[:errors].each do |error| %>
    <ul><%= error %></ul>
  <% end %>
<% end %>

<form action='/sessions' method='post'>
  <p>
    <input type='email' name='email' placeholder='Enter your email' required>
  </p>
  <p>
    <input type='password' name='password' placeholder='Enter your password' required>
  </p>
  <p>
    <button type='submit'>Sign in</button>
  </p>
</form>
