<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      Tags:  <%= link.tags.map{ |tag| "<a href='/tags/#{tag.name}'>#{tag.name}</a>" } %>
    </li>
  <% end %>
</ul>

<a href="/links/new">Add a link</a>
