<form action="/links" method="post">
  <label>Enter a new website:</label>
  <input type="text" name="title">
  <label>URL:</label>
  <input type="text" name="url">
  <button type="submit">Add link</button>
</form>
