<form action="/links" method="post">
  <label>Website Title</label>
  <input type="text" name="title">
  <label>url</label>
  <input type="text" name="url">
  <button type="submit">add link</button>
</form>
