<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.name %>
    <% end %>

    <% if flash.now[:notice] %>
      <div id="notice"><%= flash.now[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
