<% if @username %>
  <h1>Welcome <%= @username %></h1>
<% end %>

<h2>Links...</h2>

<ul id="links">
  <li>
    <% @links.each do |link| %>
    Title: <%= link.title %>
    URL:   <%= link.url %>
    Tags:   <%= link.tags.map(&:name) %>
  <li>
  <% end %>
</ul>

<form action="/add_link">
  <button type="submit">Add link</button>
</form>
