<h2>Links</h2>

<ul id="links">
  <li>
    <% @links.each do |link| %>
    Title: <%= link.title %>
    URL:   <%= link.url %>
    Tags:  <%= link.tags.map(&:name).join(", ") %>
  <li>
  <% end %>
</ul>

<form action='/add_link'>
  <button type='submit'>Add link</button>
</form>
