<% if flash.now[:password_mismatch] %>
  <p class='password_mismatch'><%= flash.now[:password_mismatch] %></p>
<% end %>

<form action='/sign_up' method='post'>
  <p>
    <label for='name'>
    Name: <input type='text' name='name' value='<%= @user.name %>' required>
    </label>
  </p>
  <p>
    <label for='email'>
      Email: <input type='text' name='email' value='<%= @user.email %>' required>
    </label>
  </p>
  <p>
    <label for='password'>
      Password: <input type='password' name='password' required>
    </label>
  </p>
  <p>
    <label for='password_confirmation'>
      Password: <input type='password' name='password_confirmation' required>
    </label>
  </p>
  <p>
    <button type='submit'>Sign up</button>
  </p>
</form>
