<% if flash.now[:password_mismatch] %>
  <p class='password_mismatch'><%= flash.now[:password_mismatch] %></p>
<% end %>

<form action='/sign_up' method='post'>
  <label for='name'>
    Name: <input type='text' name='name' value='<%= @user.name %>'>
  </label>
  <label for='email'>
    Email: <input type='text' name='email' value='<%= @user.email %>'>
  </label>
  <label for='password'>
    Password: <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>
    Password: <input type='password' name='password_confirmation'>
  </label>
  <button type='submit'>Sign up</button>
</form>
